<!-- Блок товаров и категорий -->
<div 
  id="product-block" 
  class="tab-pane fade {{#if (equals adminTab 'product')}}in active{{/if}}"
>
  <div class="alert alert-info text-center">
    Список всех товаров на сайте. Для изменения всех данных товара нужно нажать кнопку "Изменить" в строке соответствующего товара. Если необходимо изменить только цену(-ы) модификации(-ий) товара, то это можно сделать прямов  таблице, после чего нажать кнопку "Сохранить".
  </div>
  <div class="control-panel">
    <span class="page-title">Список всех товаров</span>
    <button class="btn btn-warning btn-sm" onclick="$('#new-product-modal').modal('show');">
      <i class="glyphicon glyphicon-th-large"></i> добавить новый продукт
    </button>
  </div>

  <table class="table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th class="th-product">Продукт</th>
        {{#each modHeaders as |char|}}
        <th class="text-center th-mod">{{char}}</th>
        {{/each}}
        <th class="th-control th-modify" style="width: 10%"></th>
        <th class="th-control" style="width: 10%"></th>
        <th class="th-control" style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>

      {{#each products as |prod|}} 
        <tr>
          <form method="POST" action="products/edit/modifications/{{prod.id}}?_method=PUT" class="form-horizontal" id="{{prod.id}}">
            <input type="hidden" name="_method" value="PUT">
            <td>{{inc @index 1}}</td>
            <td>{{prod.title}}</td>
            {{#each prod.modifications as |mod literal|}} {{#if (isBigger mod.price -1)}}

            <td class="td-mod">
              <input class="form-control input-sm text-center" data-init-val="{{mod.price}}" name="price-{{prod.id}}-{{literal}}" type="text"
                value="{{mod.price}}" />
            </td>

            {{/if}} {{/each}}
            <td class="td-modify">
              <button class="btn btn-sm btn-default" type="submit" title="сохранить изменение цен модификаций">
                <i class="glyphicon glyphicon-floppy-disk td-btn-ico"></i> <span class="td-btn-title">Сохранить</span>
              </button>
            </td>
            <td class="btn-cell">
              <button class="btn btn-sm btn-default js-edit-product-modul-open" onclick="/products/{{prod.id}}" title="Изменить полностью все данные продукта">
                <i class="glyphicon glyphicon-list-alt td-btn-ico"></i> <span class="td-btn-title">Изменить</span>
              </button>
            </td>
            <td class="btn-cell">
              <button class="btn btn-sm btn-default js-remove-product" onclick="/products/delete/{{prod.id}}" title="удалить текущий продукт">
                <i class="glyphicon glyphicon-trash td-btn-ico"></i> <span class="td-btn-title">Удалить</span>
              </button>
            </td>
          </form>
        </tr>

        {{/each}}
    </tbody>
  </table>
</div>