<header class="header">
  <div class="navbar-inverse navbar-desktop">
    <div class="dropdown main-menu">
      <button class="button button_main-menu dropdown-toggle" data-toggle="dropdown">
        <i class="ico main-menu__ico fas fa-bars"></i>
        <span class="main-menu__title">Категории продуктов
          <b class="caret"></b>
        </span>
      </button>
      <ul class="dropdown-menu main-menu__nav">
        {{#each category}}
        <li>
          <a class="nav__link" onclick="$('#category-{{@index}}').animatescroll();" href="#category-{{@index}}">{{name}} Фелькер</a>
        </li>
        {{/each}}
      </ul>
    </div>
    <ul class="nav__list" style="display: none;">
      {{#each category}}
      <li>
        <a class="nav__link" onclick="$('#category-{{@index}}').animatescroll();" href="#category-{{@index}}">{{name}} Фелькер</a>
      </li>
      {{/each}}
    </ul>

    <div class="logo logo_header">
      <p class="logo__title">FELKER</p>
      <p class="logo__subtitle">special product</p>
    </div>

    <div class="contacts contacts_header">
      <ul class="contacts__list">
        <li class="contacts__phone">
          <i class="fas fa-mobile-alt ico"></i>{{info.phone}}</li>
        <li class="contacts__text">Звоните пн-сб с 9:00 до 20:00</li>
      </ul>
      <button class="contacts__feedback button button_orange" onclick="openFeedbackForm()">заказать звонок</button>
    </div>
  </div>
  <div class="main-banner">
    <div class="main-banner__content-wrapper">

      <div class="text-block">
        <h1 class="main-banner__title">{{info.subtitle}}</h1>
        <div class="main-banner__description">
          <div class="header__info">
            {{{info.description}}}
          </div>
        </div>
      </div>
      <form class="form-horizontal main-banner__form" action="/notification/message" method="POST">
        <h3 class="main-banner-form_title">Обратная связь</h3>
        <div class="form-group">
          <div class="col-xs-12">
            <label for="header-form-username"></label>
            <input class="form-control" id="header-form-username" name="username" placeholder="укажите имя...">
          </div>
          <div class="col-xs-12">
            <label for="header-form-email"></label>
            <input class="form-control" id="header-form-email" name="email" placeholder="укажите эмэйл...">
          </div>
          <div class="col-xs-12">
            <label for="header-form-message"></label>
            <textarea class="form-control" rows="3" id="header-form-message" name="message" placeholder="напишите сообщение..."></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-btn-panel">
          <button type="submit" class="button js-send-notification feedback-form_button">Отправить сообщение</button>
        </div>
      </form>
    </div>
  </div>
</header>