<div class="row" itemscope itemtype="http://schema.org/Offer">
 <a href="#" class="section-content" data-toggle="modal" data-target="#product-{{@index}}">
  <div class="col-xs-8 col-sm-3 prod-title" itemprop="name">{{prod.title}} <q class="sub">{{prod.subtitle}}</q></div>
  <div class="hidden-xs col-sm-7 prod-desc" itemprop="description">{{{prod.description}}}</div>
  <div class="col-xs-4 col-sm-2 prod-price" itemprop="price">{{prod.modifications.B.price}} руб.</div>
  <meta itemprop="priceCurrency" content="RUB" />
 </a>
 
</div>